---
layout: ""
page_title: "Provider: Unifi"
description: |-
  The Unifi provider provides resources to interact with a Unifi controller API.
---

# Unifi Provider

The Unifi provider provides resources to interact with a Unifi controller API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}
