---
on:
  pull_request: {}
  push:
    branches:
      - "main"
    tags:
      - "v*"

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
          cache: true
          check-latest: true

      - run: "go build ./..."

  lint:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
          check-latest: true

      - uses: "golangci/golangci-lint-action@v5.1.0"
        with:
          skip-pkg-cache: true
